*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
../android_hello_world
../android_university_lab
../Flixster
../SimpleTodo
../SimpleTweet
../android_university_lab4
../InstagramClone
../README.md
../android-booksearch-exercise
../android-debugging-challenges
